@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --component-heading-large-md: Inter;

  /* font sizes */
  --text-lg-lineheight-7-font-medium-size: 18px;
  --font-size-xs: 12px;
  --text-md-size: 16px;
  --component-heading-large-md-size: 20px;
  --font-size-5xl: 24px;
  --text-sm-size: 14px;
  --heading-large-lg-size: 30px;

  /* Colors */
  --gray-100: #edf2f7;
  --gray-200: #e2e8f0;
  --gray-700: #2d3748;
  --white: #fff;
  --gray-300: #cbd5e0;
  --color-lightsteelblue: rgba(171, 187, 211, 0.75);
  --gray-800: #1a202c;
  --color-gray-100: #1e1e1e;
  --black: #000;
  --blue-600: #2b6cb0;
  --teal-500: #319795;

  /* Gaps */
  --gap-xs: 12px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-base: 16px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-9xs: 4px;
  --br-6xl: 25px;

  /* Effects */
  --base: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}
